#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        open_discord: open_discord {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings 
                = <&macro_tap &kp LG(SPACE)>
                , <&macro_wait_time 300>
                , <&macro_tap &kp D &kp I &kp S &kp C &kp O &kp R &kp D>
                , <&macro_wait_time 200>
                , <&macro_tap &kp ENTER>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = 
                &open_discord  &kp N2  &kp N3
                &kp N4         &kp N5  &kp N6
                &kp N7         &kp N8  &mo 1
            >;
        };
        bt_layer {
            bindings = 
                &none   &none   &bootloader
                &none   &none   &bt BT_CLR
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2
            >;
        };
    };
};