/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";

        row-gpios
            = <&gpio1 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* Reihe 1 → P1_06 */
            , <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* Reihe 2 → P1_04 */
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* Reihe 3 → P0_11 */
            ;

        col-gpios
            = <&gpio1 0  GPIO_ACTIVE_HIGH>   /* Spalte 1 → P1_00 */
            , <&gpio0 24 GPIO_ACTIVE_HIGH>   /* Spalte 2 → P0_24 */
            , <&gpio0 22 GPIO_ACTIVE_HIGH>   /* Spalte 3 → P0_22 */
            ;
    };
};